@model IEnumerable<lab8.Models.Product>

<h2>Products List</h2>
<ul>
    @foreach (var product in Model)
    {
        <li>@product.ID. @product.Name - @product.Price$ (@product.CreatedDate.ToShortDateString())</li>
    }
</ul>

<h2>Products Table</h2>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Created Date</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.ID</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.CreatedDate.ToShortDateString()</td>
        </tr>
    }
</table>